.form {
  margin-top: 75px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap: 10px;
}

.input {
  background-color: transparent;
  border: transparent;
  width: 200px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.button {
  margin-top: 15px;
  border: transparent;
}
